* {
    margin: 0px;
    border: 0px;
}

.topBottomPlayer {
  box-sizing:border-box;
  border:2px black solid;
  min-height: 200px;
  min-width: 600px;
  background-color: blue;
}

.leftRightPlayer {
    box-sizing:border-box;
    border:2px black solid;
    min-height:600px;
    min-width: 200px;
    background-color: red;
}

.empty {
    height: 200px;
    width: 200px;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
    min-height: 600px;
    min-width: 600px;
}

.outsideBox {
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  border:2px black solid;
}

.middleBox {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    border:2px black solid;
  }

#playingSpace {
    height:1000px;
    width:1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}